<ion-content>

    <h1>Most popular genres</h1>


    <div class="custom-card-deck">
        <h2>{{first}}</h2>
        <mbsc-listview [options]="cycleSettings">
            <mbsc-listview-item *ngFor="let m of movies | genrePipe : first">
                <mbsc-card class="custom-card custom-card-rotate-right">
                    <mbsc-card-header>
                        <mbsc-card-title>{{m.name}}</mbsc-card-title>
                        <mbsc-card-subtitle>{{m.description}}</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img class="image" draggable="false" [src]="m.image">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        </mbsc-listview>
    </div>
    <div class="custom-card-deck">
        <h2>{{second}}</h2>
        <mbsc-listview [options]="cycleSettings">
            <mbsc-listview-item *ngFor="let m of movies | genrePipe : second">
                <mbsc-card class="custom-card custom-card-rotate-right">
                    <mbsc-card-header>
                        <mbsc-card-title>{{m.name}}</mbsc-card-title>
                        <mbsc-card-subtitle>{{m.description}}</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" [src]="m.image">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        </mbsc-listview>
    </div>
    <div class="custom-card-deck">
        <h2>{{third}}</h2>
        <mbsc-listview [options]="cycleSettings">
            <mbsc-listview-item *ngFor="let m of movies | genrePipe : third">
                <mbsc-card class="custom-card custom-card-rotate-right">
                    <mbsc-card-header>
                        <mbsc-card-title>{{m.name}}</mbsc-card-title>
                        <mbsc-card-subtitle>{{m.description}}</mbsc-card-subtitle>
                    </mbsc-card-header>
                    <mbsc-card-content>
                        <img draggable="false" [src]="m.image">
                    </mbsc-card-content>
                </mbsc-card>
            </mbsc-listview-item>
        </mbsc-listview>
    </div>


</ion-content>