.background{
  background: url(../../assets/icon/logo3.jpg);
  background-size: contain;
  --background: url('../../assets/icon/logo3.jpg');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  width: 100%;
  height: 100%;
  background-color: rgb(138, 43, 226, 0.4);
}

h1{
  padding-left: 5%;
  color:white;
}

.video{
  display:block;
  text-align: center;
}

ion-footer{
  background-color: black !important;
}

ion-icon{
  padding:5%;
  font-size:x-large;
}

ion-row{
  background-color: white;
}

ion-slides {
  height: 100%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 100%;
  max-width: 80%;
  pointer-events: none;
}

b {
  font-weight: 600;
}

p {
  padding: 0 40px;
  font-size: 20px;
  line-height: 1.5;
  color: white;
}

p b {
  color: var(white, white);
}

h2{
  color: white;
  font-size:x-large;
}

ion-slides{
  height: min-content;
}

.rowFooter{
  background-color: black;
}

// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }